body{
    padding: 5%;
    /* background-color: #8ebae9; */
    background-image: linear-gradient(to right,#8fb7ea ,#9599e2);
    font-family: 'Cantarell';
    color: gray;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1{
    font-size: 25px;
    font-weight: 400;
}

p{
    color:white;
}

#form_one{
    background-color: white;
    width: 46%;
    height: 500px;
    float: left;
    color: #000;
    border-top-left-radius:     15px;
    border-bottom-left-radius:  15px;
    padding: 2%;
}

#form_two{
    background-color: #4935d4;
    width: 46%;
    height: 500px;
    float: right;
    border-top-right-radius:    15px;
    border-bottom-right-radius: 15px;
    padding: 2%;
    color: #000;
}

#form_one_title{
    color: blue;
}

#form_two_title{
    color: rgb(255, 255, 255);
}

.div_inputs{
    height: 50px;
}

.select_option{
    /* border: 0px 0px 0px 1px; */
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(129, 125, 125);
    background-color: white;
    font-size: 17px;
    color:  rgb(0, 0, 0);
    font-family: 'Cantarell';
    color:  rgb(129, 125, 125);
}

#title,#position{
    width: 100%;
    font-family: 'Cantarell';
}

.name_field{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(129, 125, 125);
    background-color: white;
    font-size: 17px;
    color: #000;
    box-sizing: border-box;
    width: 46%;
}

#firstname{
    float: left;
}

#lastname{
    float: right;
}

.name_field::-webkit-input-placeholder {
    color:  rgb(129, 125, 125);
  }
  
#company::-webkit-input-placeholder {
    color:  rgb(129, 125, 125);
  }

#business::-webkit-input-placeholder {
    color:  rgb(129, 125, 125);
  }

 .name_field::-moz-placeholder {
    color:  rgb(129, 125, 125);

 }

 #company::-moz-placeholder {
    color:  rgb(129, 125, 125);
 }

 #business::-moz-placeholder {
    color:  rgb(129, 125, 125);
 }


#business{
    width: 55%;
    border: none;
    border-bottom: 1px solid rgb(129, 125, 125);
    background-color: white;
    font-size: 17px;
    outline: none;
    float: left;
}

#company{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(129, 125, 125);
    background-color: white;
    font-size: 17px;
    outline: none;
}

#employee{
    width: 35%;
    border: none;
    border-bottom: 1px solid rgb(129, 125, 125);
    background-color: white;
    font-size: 17px;
    color:  rgb(129, 125, 125);
    outline: none;
    float: right;
}

#streetNber, #email, #addition_info{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    background-color: inherit;
    font-size: 17px;
    color:  white;
    outline: none;
}

#zipCode{
    width: 35%;
    border: none;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.7);
    background-color: inherit;
    font-size: 17px;
    color:  white;
    outline: none;
    float: left;
}

#places{
    width: 55%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    background-color: inherit;
    font-size: 17px;
    color: white;
    font-family: 'Cantarell';
    outline: none;
    float: right;
}

#countries{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    background-color: inherit;
    font-size: 17px;
    color: white;
    font-family: 'Cantarell';
    outline: none;
}

.option{
    color: black;
}

#code{
    width: 35%;
    border: none;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.7);
    background-color: inherit;
    font-size: 17px;
    outline: none;
    color: white;
    float: left;
}

#telephone{
    width: 55%;
    border: none;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.7);
    background-color: inherit;
    font-size: 17px;
    outline: none;
    color: white;
    float: right;
}

#terms{
    font-size: 12px;
}

#link{
    color: white;
    font-weight: bold;
}

#registerBtn{
    border-radius: 30px;
    border: 0px white solid;
    background-color: white;
    padding: 10px;
    font-size: 15px;
    font-family: 'Cantarell';
    font-weight: 600;
    outline: none;
}

::placeholder {
    color:white;
    opacity: 0.7; 
    font-family: 'Cantarell';
  }