* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat";
  background-image: linear-gradient(to right, #8fb7ea, #9599e2);
  padding: 6% 0;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 10vw;
}

.contact {
  width: calc(50%);
}

.info {
  background-color: white;
  padding: 60px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.info h2 {
  color: rgb(38, 118, 209);
  font-size: 1.4rem;
}

.detail {
  background-color: #5b5bc2;
  padding: 60px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.detail h2 {
  color: white;
  font-size: 1.4rem;
}

.cc {
  color: white;
  opacity: 0.8;
  font-size: 17px;
}

.div_inputs {
  padding-top: 10px;
  padding-bottom: 10px;
}

.names {
  display: flex;
  justify-content: space-between;
}

.name_field {
  width: 48%;
}

.field {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(160, 147, 147);
  opacity: 0.8;
  padding-bottom: 10px;
  background-color: inherit;
}

.gi {
  color: rgb(160, 147, 147);
  opacity: 1;
}

.large-field {
  width: 100%;
}

.select {
  background-color: inherit;
}

.last {
  display: flex;
  justify-content: space-between;
}

.business {
  width: 57%;
}

.employee {
  width: 37%;
}

.cont {
  display: flex;
  justify-content: space-between;
}

.zip {
  width: 27%;
}

.places {
  width: 67%;
}

.country,
.places {
  color: white;
  opacity: 0.8;
  font-size: 17px;
}

._contacts {
  display: flex;
  justify-content: space-between;
}

.code {
  width: 27%;
}

.phone {
  width: 67%;
}

.placeholder::-moz-placeholder {
  color: rgb(160, 147, 147);
  opacity: 0.8;
  /* text-shadow: 0.5px 0.5px 0.5px gray; */
}

.label {
  color: white;
  font-size: 14px;
  /* margin-left: 12px; */
}

.link {
  color: white;
  font-weight: bold;
}

.registerBtn {
  border-radius: 30px;
  background-color: white;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  border: 2px white solid;
}

.registerBtn:hover {
  background: steelblue;
  color: white;
}

::placeholder {
  color: white;
  opacity: 0.8;
}

.radio-item {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 0 1px;
  margin: 2px 0 0;
}

.radio-item input[type="radio"] {
  display: none;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 13px;
  height: 13px;
  border-radius: 11px;
  border: 2px solid white;
  background-color: transparent;
}

.radio-item input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 7.5px;
  left: 5.5px;
  content: " ";
  display: block;
  background: white;
}
