
@font-face{  font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{

    background-image: linear-gradient(to right,#8fb7ea ,#9599e2);
    font-family: 'Montserrat';
    padding: 5%;
}

h1{
    font-size: 20px;
    font-weight: 600;
}

#title1{
    color: rgb(38, 118, 209);
}
#title2{
    color: white;
}

#container{
    display: flex;
    justify-content: center;
}

#general-info{
    background-color: white;
    padding: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#contact-detail{
    background-color: #5b5bc2;
    padding: 50px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.div_inputs{
    padding-top: 10px;
    padding-bottom: 10px;
}

#names{
    display: flex;
    justify-content: space-between;
}

.name_field{
    width: 47%;
}

.field{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(182, 177, 177);
    padding-bottom: 10px;
    background-color: inherit;
}

.large-field{
  width: 100%;
}

.select{
    background-color: inherit;
}

#last{
    display: flex;
    justify-content: space-between;
}

#business{
    width: 57%;
}

#employee{
    width: 37%;
}

.option{
    color:  rgb(70, 68, 68);
}

#cont{
    display: flex;
    justify-content: space-between;
}

#zip{
    width: 27%;
}

#places{
    width: 67%;
}

#contacts{
    display: flex;
    justify-content: space-between;
}

#code{
    width: 27%;
}

#phone{
    width: 67%;
}


 .placeholder::-moz-placeholder {
    color:  rgb(70, 68, 68);
    /* text-shadow: 0.5px 0.5px 0.5px gray; */
 }

 p{
     color: white;
     font-size: 14px;
 }

 #link{
     color: white;
     font-weight: 900;
 }

#registerBtn{
    border-radius: 30px;
    border: 0px white solid;
    background-color: white;
    padding: 10px;
    font-size: 15px;
    font-family: 'Cantarell';
    font-weight: 600;
    outline: none;
}

::placeholder {
    color:white;
    opacity: 0.7; 
  }

 